---
import ArticleCard from '@/components/ui/ArticleCard.astro';
---

<section id="selected-work" class="work">
  <div class="work__header">
    <p class="work__section">01&nbsp;/&nbsp;SELECTED WORK</p>
    <div class="work__title-container">
      <span class="work__title">CASE STUDIES</span>
      <span class="work__info"
        >SCROLL TO EXPLORE&nbsp;/&nbsp;ACHIEVE 2020-2026</span
      >
    </div>
  </div>
  <div class="work__contents">
    <ArticleCard class="work--01" type="wide" />
    <ArticleCard class="work--02" type="portrait" />
    <ArticleCard class="work--03" type="portrait" />
    <ArticleCard class="work--04" type="wide" />
  </div>
</section>

<style>
  .work {
    margin: 0 auto;
    padding: var(--gutter-md) var(--gutter-xl);
    max-width: var(--screen-xl);
    background-color: var(--neutral-200);
  }

  .work__section {
    color: var(--primary-400);
    font-size: var(--text-sm);
    font-weight: 500;
  }

  .work__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .work__title {
    color: var(--tertiary-900);
    font-size: var(--text-2xl);
    font-weight: 700;
  }

  .work__info {
    font-size: var(--text-sm);
    color: var(--neutral-700);
  }

  .work__contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
    margin-block: var(--gutter-lg);
  }

  .work--01 {
    grid-column: 1 / 3;
  }

  .work--02 {
    grid-column: 3 / 4;
  }

  .work--03 {
    grid-column: 1 / 2;
  }

  .work--04 {
    grid-column: 2 / 4;
  }
</style>
